body {
  padding-top: 40px;
  background: #a06535 url(assets/game_bg.jpg) repeat center center;
  background-size: cover;
}


#ore {
  border: 13px solid #5d4646;
  border-radius: 74px;
  background: linear-gradient(149deg, rgba(147, 19, 19, 0.82), rgba(255, 0, 0, 0.86));
  text-align: center;
}
