body {
  padding-top: 40px;
  background: #a06535 url(assets/game_bg.jpg) repeat center center;
  background-size: cover;
}



#ore {
   background-color: #da0909;
   border: 14px ridge #4b3333;
   text-align: center;
}
